header             { display: block !important;}
body               { font-family: 'Lato', sans-serif; font-size: 20px; color: #444; }
a                  { color: #244371; }
a:hover            { color: #D8651E; }
.box               { width: 740px; margin: 30px auto; }
h2, h3, h4         { font-family: 'Open Sans Condensed', sans-serif; font-weight: normal; color: #222;}
h1                 { margin: 0px 0px 0px 0px !important;
                     background: no-repeat center;
                     height: auto; }
h1 span            { display: none; }
.banner            { font-size: 75px; margin: 30px 0 11px 0;
                     font-family: 'Open Sans Condensed', cursive;
                     text-align: center; }
.banner a          { text-decoration: none; }
h2                 { font-size: 30px; margin: 15px 0 5px 0; }
h3                 { font-size: 24px; margin: 15px 0 5px 0; }
h4                 { font-size: 19px; margin: 15px 0 5px 0; }
img                { display: block; margin: 0 auto; }
textarea,
code, tt,
pre                { font-family: 'Inconsolata', sans-serif, monospace!important;
                     color: #000; font-size: 16px; background: #f3f3f3; }
pre                { padding: 7px 7px; margin: 15px 5px; line-height: 1.3;
                     border-style:solid; border-width:1px; border-color:#bbb; word-wrap: break-word;}

code, tt           { padding: 1px 5px;}

.ig                { color: #888; }
p                  { line-height: 1.4; }
ul                 { margin: 15px 0 15px 0; padding: 15px; list-style: none; line-height: 1.4; }
ul li:before       { color: #888; position: absolute; margin-left: -19px; }
ol                 { line-height: 1.4; margin: 15px 0 15px 30px; padding: 15px; }
blockquote         { margin: 0; font-style: italic; color: #444; }
.footer            { font-size: 13px; color: #888; text-align: center; margin-top: 25px; }
.more              { text-align: right; margin-top: 0; font-size: 0.9em; font-style: italic; }
.nav               { text-align: center; }
.nav a             { font-style: ; }
.backnav           { float: right; color: #444; font-style: italic;
                     margin: 5px 0 0 0; font-size: 0.9em; }
.message           { background: #DEEBF3; color: #004B6B; padding: 5px 30px;
                     margin: 10px -30px; }
.actions           { margin-top: 0; }
.twitter:before    { background: no-repeat; content: " ";
                     float: right; width: 64px; height: 64px;
                     margin: -25px 0 0 0; padding: 0 0 10px 10px; }
.twitter li        { margin: 15px 0; line-height: 1.2; font-size: 15px; }
.twitter li:before { content: "♯"; padding-left: 4px; }
.twitter .meta,
.twitter .meta a   { color: #888; font-size: 13px; }
table              { border: 1px solid black; border-collapse: collapse;
                     margin: 15px 0; }
td, th             { border: 1px solid black; padding: 4px 10px;
                     text-align: left; }
th                 { background: #eee; font-weight: normal; }

td input           { border: none; padding: 0; }

table.archives, .archives td, .archives th { border: none; }

/* navigation */
nav a      { text-decoration: none;  font-size: 21px; padding: 8px;}
nav ol     { margin: 0; padding: 0;}
nav li     { display: inline; padding: 0; }
nav        { background-color: #f4f4f4;
             padding-top:0;
             text-align: center;
             top: 0; left: 0;
             z-index: 999;
             width: 100%; height: 32px; }
.current a { color: #666 }

/* pagination */
.pagination .direction { padding: 0px 6px; margin: 0px 6px; }

/* social */
.social           { margin:10px 0 10px 0; font-size: 40px; text-align: center; }
.social a         { margin: 10px 20px 5px 20px; color: #777; text-decoration: none;
                    -webkit-transition: color 0.5s linear;
                    -moz-transition: color 0.5s linear;
                    -o-transition: color 0.5s linear;
                    -ms-transition: color 0.5s linear;
                    transition: color 0.5s linear }
.social a:hover   { color: #004B6B; }

/* post */
.posts ol,
.posts ul,
.posts li             { list-style-type: none; padding: 0; }
.posts li             { padding-bottom: 30px; }
.post                 { font-size: 50px; }
.post a               { text-decoration: none; }
.post-info            { font-size: 14px; color: #555; font-style: italic; padding-bottom: 21px; }
.post-share-links     { font-size: 24px; text-align: right; padding: 2px; }
.post-share-links a   { color: #555; }
article.archive       { margin-top: 10px; margin-bottom: 10px; }

.post-content         { margin-top: 50px; margin-bottom: 40px;}

h1.archive-post-title,
.post-title,
h1.archive-post-title a { font-family: 'Open Sans Condensed', sans-serif; font-weight: bold;
                           font-size: 40px; text-decoration: none; }

h1.archive-post-title   { margin: 0px 0px 0px 0px !important;
                           height: auto; }


.post-title      { color: #222; font-size: 45px; margin-bottom: 15px; }

.post-content h2 { margin: 40px 0 5px 0; color: #004B6B; }

.post-related .post-summary { width: 30%; display: inline-block;
                              padding: 8px; overflow: auto; }

.post-series-parts p  { line-height: normal; margin: 6px 0px; }
.post-series-parts ol { list-style-position: outside; margin: 0px; margin-left: 28px; padding: 0px; }
.post-series-parts li { list-style-type: decimal;
                        padding-bottom: 4px; padding-left: 4px; }

/* Inset, by Dan Eden */
hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* For align center */
.align-center { display: block; margin-left: auto; margin-right: auto }

.highlight pre { white-space: pre-wrap;       /* css-3 */
                 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                 white-space: -pre-wrap;      /* Opera 4-6 */
                 white-space: -o-pre-wrap;    /* Opera 7 */
                 word-wrap: break-word;       /* Internet Explorer 5.5+ */
                 overflow: auto; }

.highlight pre { counter-reset: linecounter; padding-left: 2em; }

.highlight pre span.code-line { counter-increment: linecounter;
                                padding-left: 1em;
                                text-indent: -1em;
                                display: inline-block; }

.highlight pre span.code-line:before { content: counter(linecounter);
                                       padding-right: 1em;
                                       display: inline-block;
                                       color: grey;
                                       text-align: right; }
